.main-block{
    display: inline-block;
    justify-content: center;
}
.imgSize{
    max-width: 600px;
    max-height: 600px;
}

.image{
    margin: 20px;
    border: solid 0.5px rgba(17, 17, 17, 0.04);
    padding: 20px;
    background-color: rgba(0,0,0,0.04);
}