* {
  // outline: 1px solid blue;
  margin: 0;
  padding: 0;
}

.main-container-detail {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin: 50px 0px;
  width: 100vw;
  height: auto;
}

.main-img-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.595);
  width: 40%;
  padding: 30px;
  height: auto;
}

.main-img-size {
  width: 70%;
  height: auto;
}

.txt-container {
  margin-left: 50px;
  font-size: 2em;
}
.more-detail {
  background-color: red;
  border: none;
  padding: 15px;
}
.txt-container h1{
  font-size: 2em; 
  margin-bottom: 20px;
}

.more-detail:hover {
  background-color: rgb(161, 17, 17);
}