.main-txt-size {
  display: flex;
  justify-content: center;
}

.main--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-bottom: 100px;
  align-items: center;
}

.img-size-t {
  width: 60%;
  height: auto;
}
