footer {
    align-self: flex-end;
  }
  
.bg{
    background-color: rgb(236, 0, 41);
}

.color{
    background-color: rgb(236, 0, 41);
    border: none;
    color: white;
    font-size: medium;
}

.deco{
    text-decoration: none;
}
.color{
    color: white;
}

.center{
    display: flex;
    justify-content: center;
}
.form-control{
    width: 400px;
}

.text-center{
    color: white;
}
