:root {
  --color-primary: black;
  --color-secondary: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

#root {
  margin: 0 auto;
  text-align: center;
}

.conteneur-page{
  position: relative;
  height: 100vh;
}